<!DOCTYPE html>
<meta name="author" content="BIG E" />
<meta name="viewport" content="Width=device-width,intial-scale=1.0" />

<html>

    <body>
        {% extends "master.html" %}

        <head>
            {% block title %}
            About me
            {% endblock %}

            {% block content %}
            <div class="myinfo">
                <h1>Hi, i'm Emmanuel(BIG E).</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illum quibusdam accusamus dicta
                    sed
                    cumque, voluptatibus, voluptatem perferendis, reprehenderit aperiam nemo molestiae commodi ex autem
                    assumenda in. Neque, molestias id.</p>
                <p><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dicta quae, nesciunt dolore est,
                    maxime natus incidunt ut labore explicabo recusandae nemo aperiam sapiente, at unde totam nobis
                    magnam
                    assumenda.
                    Repellendus, itaque reiciendis. Excepturi magnam vero exercitationem adipisci impedit, voluptatem
                    sint
                    iusto molestiae doloribus corporis temporibus sapiente quisquam recusandae accusantium at mollitia
                    doloremque nemo nulla rerum voluptatum ab minima! In!</p>
                <h4><a href="/">Back to Home.</a></h4>
            </div>
            <hr>
            <nav>
                <div class="myinfo">
                    <h1>For more details;</h1>
                    <ul>
                        <li>Contact me at <a href="mailto:ojetadeoluwakayode@gmail.com">my email address.</a></li>
                        <li>Dial <a href="tell:+2348169085304">my phone number.</a></li>
                        <li>Open <a href="https://www.google.com/" target="_blank">Google </a>in a new tab.</li>
                    </ul>
                </div>
            </nav>
        </head>
        {% endblock %}

</html>
</body>