<!DOCTYPE html>
<html>

    <body>
        {% extends "master.html" %}

        {% block content %}

        <br>

        You have successfully logged in.
        You shall be added to the list of our applicants, THANK YOU!

        <!-- {% if webserver.Jambscore >= 320 %}
        <h3>You have met all standards and can study your desired course.</h3>
        {% elif webserver.Jambscore != 320 %}
        <h3>Your jamb score does not meet the required
            standards! Please try again next year</h3>
        {% else %}
        <h3>You don't have what it takes!</h3>
        {% endif %}
 -->

        {% endblock %}

    </body>

</html>